name: Release

on:
  push:
    branches:
      - main
      - release

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}

      - name: Setup Node.js with NPM Registry
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run build
        run: yarn lerna run build

      - name: Run test
        run: yarn test

      - name: Configure git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Bump version and create release
        run: |
          if [ "${{ github.ref_name }}" == "main" ]; then
            yarn lerna version --yes --conventional-commits --conventional-prerelease --exact --create-release github --preid beta --loglevel silly
          else
            yarn lerna version --yes --conventional-commits --conventional-graduate --exact --create-release github --loglevel silly
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_BOT_TOKEN }}

      - name: Publish to NPM
        run: |
          if [ "${{ github.ref_name }}" == "main" ]; then
            yarn lerna publish from-package --yes --no-private --loglevel silly --preid beta --dist-tag beta
          else
            yarn lerna publish from-package --yes --no-private --loglevel silly
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Setup Node.js with GitHub Registry
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@${{ github.repository_owner }}'

      - name: Publish to GitHub Packages
        run: |
          if [ "${{ github.ref_name }}" == "main" ]; then
            yarn lerna publish from-package --yes --no-private --loglevel silly --preid beta --dist-tag beta
          else
            yarn lerna publish from-package --yes --no-private --loglevel silly
          fi
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
